/* @font-face {
  font-family: "Nexa";
  src: url("/resources/fonts/NexaRustHandmade-Trial-Condensed.ttf");
} */

*{
  box-sizing:border-box;
  font-family: "Nexa";
}

html{
  height:100%;
}

body{
  margin: 0 auto;
  height: 100%;
  display:flex;
  flex-direction: column;
  background-color: rgb(165, 164, 164);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: rgb(157, 109, 178);
  color:rgb(255, 255, 255);
  font-size: x-large;
  width:100%;
}

header a{
  margin:20px;
  text-decoration: none;
  color:rgb(255, 255, 255);
}

header h1{
  font-size: 5vh;
  display:flex;
  color:rgb(253, 255, 255);
}

header button{
  padding: 8px;

}

.navigation-tab{
  margin-left: 10px;
  margin-right: 10px;
}

footer{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgb(247, 247, 247);
  box-sizing:border-box;
  width: 100%;
  height: 3em;
}

.post{
  margin: 20px;
  border-radius:20px;
  padding:20px;
  background-color: rgb(177, 213, 212);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
}

.tab-clicked{
  font-weight: bold;
  color: rgb(42, 76, 110);
  background-color: rgb(250, 235, 215);
}

